.sidenav {
    height: 100%;
    background-color: #4a488e;
    overflow-x: hidden;
    padding-top: 20px;
    .content {
        margin-top: 20%;
        padding: 60px;
        color: #fff;
        h2{
            font-weight: 300;
        }
    }
}

.main {
    padding: 0px 10px;
        .login-form {
        margin-top: 10%;
    }
}

.btn-purple{
    color: white;
}

@media screen and (min-width: 768px) {
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .main {
        margin-left: 40%; 
        .login-form {
            margin-top: 70%;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 812px) and (orientation : landscape) {
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        .content {
            margin-top: 0%;
            padding: 60px;
            color: #fff;
        }
    }

    .main {
        margin-left: 40%; 
        .login-form {
            margin-top: 30%;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) and (orientation : landscape) {
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        .content {
            margin-top: 0%;
            padding: 60px;
            color: #fff;
        }
    }

    .main {
        margin-left: 40%; 
        .login-form {
            margin-top: 30%;
        }
    }
}

