<div class="sidenav">
    <div class="content">
        <h2>Application<br> Login Page</h2>
    	<p>Login from here to access to dashboard.</p>
    </div>
</div>
<div class="main">
    <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12">
       	<div class="login-form">
           	<form>
              	<div class="form-group">
                 	<label>User Name</label>
                 	<input type="text" class="form-control" placeholder="User Name">
              	</div>
              	<div class="form-group">
                 	<label>Password</label>
                 	<input type="password" class="form-control" placeholder="Password">
              	</div>
              	<div class="form-group">
              		<button class="btn btn-purple float-right">Login</button>
              		<div>Don't have an account? <a routerLink="/register">Sign Up</a></div>
              		<a routerLink="/reset">Forgot your password?</a>
              	</div>
           	</form>
        </div>
    </div>
</div>