<div class="sidenav">
    <div class="content">
        <h2>Application<br> Reset Page</h2>
    	<p>Reset password here to obtain new password.</p>
    </div>
</div>
<div class="main">
	<div>
		<div class="reset-form">
			<div class="text-center">
              	<h3><i class="fa fa-lock fa-4x"></i></h3>
              	<h2 class="text-center">Forgot Password?</h2>
              	<p>We will send you a link to reset password.</p>
             
                <form>
                  	<div class="form-group">
                      <input placeholder="Email address" class="form-control" type="email">
                  	</div>
                  	<div class="form-group">
                        <button class="btn btn-lg btn-purple btn-block">Reset Password</button>
                  	</div>
                  	<div class="form-group">
                  		<div>Back to login? <a routerLink="/login">Sign in</a></div>
                  	</div>
                </form>
            </div>
		</div>
    </div>
</div>